nav {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 30px;
  
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
li {
  list-style: none;
}
nav button {
  padding: 5px 20px;
  border-radius: 15px;
  background-color: saddlebrown;
  color: white;
  gap: 13px;
}
.links{
  border: 2px solid black;
  padding: 10px;
  border-radius: 30px;
}

.items a {
   text-decoration: none;
  color: black;
  font-weight: bold;
}
.items a:hover {
  color: green;
}
button:hover {
  background-color: green;
}
body{
  background:linear-gradient(0deg, red 30%, orange 70%);
  height: 3000px;
   margin: 0;
   padding-top: 10px;
}
		
img{
  display:flex;
		border-radius:1000px
}
	
li{
  overflow:hidden;
	   justify-content:space-between;
}
	
div{
  align-items:center;
		justify-content:center;
		display:flex;
}
		
h2,p{
  align-items:center;
		justify-content:center;
		display:flex;
}